.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    width: 200px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 60%;
    max-height: 500px;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    height: 400px;

}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.card-item {
    height: 250px;
    width: 250px;
}

footer {
    margin: 50px 0;
}